<section class="main_menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle_link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li class="parent"><a href="/tag/Games/">Headmade Games</a>
                    <ul>
                        {% for post in site.posts %}
                            {% if post.tags %}
                                {% for tag in post.tags %}
                                    {% if tag == 'Games' %}
                                        <li><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/archive">Archive</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/about">About</a>
                </li>
            </ul>
        </nav>
        <nav class="iconnav">
            <ul>
                <!--
                <li class="sicon">
                    <a href='#search'><i class='fa fa-search'></i></a>
                </li>
                -->
                {% if site.tumblr %}
                    <li class="social">
                        <a target="_blank" href="{{ site.tumblr }}" class="tumblr"><i class="fa my-fa-tumblr"></i></a>
                    </li>
                {% endif %}
                {% if site.pinterest %}
                    <li class="social">
                        <a target="_blank" href="{{ site.pinterest }}" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </li>
                {% endif %}

                {% if site.instagram %}
                    <li class="social">
                        <a target="_blank" href="{{ site.instagram }}" class="instagram"><i class="fa my-fa-instagram"></i></a>
                    </li>
                {% endif %}

                {% if site.twitter %}
                    <li class="social">
                        <a target="_blank" href="{{ site.twitter }}" title="Headmade Games on Twitter" class="twitter"><i class="fa my-fa-twitter-square"></i></a>
                    </li>
                {% endif %}

                {% if site.facebook %}
                    <li class="social">
                        <a target="_blank" href="{{ site.facebook }}" class="facebook"><i class="fa my-fa-facebook"></i></a>
                    </li>
                {% endif %}

                {% if site.youtube %}
                    <li class="social">
                        <a target="_blank" href="{{ site.youtube }}" title="Headmade Games on Youtube" class="youtube"><i class="fa my-fa-youtube-square"></i></a>
                    </li>
                {% endif %}

                {% if site.github %}
                    <li class="social">
                        <a target="_blank" href="{{ site.github }}" title="Headmade Games on Github" class="github"><i class="fa my-fa-github-square"></i></a>
                    </li>
                {% endif %}

                {% if site.ludumdare %}
                    <li class="social">
                        <a target="_blank" href="{{ site.ludumdare }}" title="Headmade Games on Ludum Dare" class="ludumdare"><i class="fa fa-trophy"></i></a>
                    </li>
                {% endif %}

                {% if site.vimeo %}
                    <li class="social">
                        <a target="_blank" href="{{ site.vimeo }}" class="vimeo"><i class="fa fa-vimeo-square"></i></a>
                    </li>
                {% endif %}

                {% if site.soundcloud %}
                    <li class="social">
                        <a target="_blank" href="{{ site.soundcloud }}" class="soundcloud"><i class="fa fa-soundcloud"></i></a>
                    </li>
                {% endif %}

                <li class="social">
                    <a target="_blank" title="RSS feed" href="/feed.xml" class="feed"><i class="fa fa-rss-square"></i></a>
                </li>

            </ul>
        </nav>
        <a href='#menu' class="toggle_link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</section>
