article{
    box-sizing: border-box;
    background: $box_bg;
    margin-bottom: 20px;
    border: $box_line;
    position: relative;

    .content_container &{
        padding: 20px;

        p{
            padding: 0;
        }
    }

    .index & h1,
    .index & p,
    .index & span{
        padding: 10px;
    }

    img{
        transition: .3s all ease;
    }

    a:hover{
        img{
            opacity: .5;
        }
    }

    .category,
    .tags {
        text-transform: uppercase;

        .index &{
            font-size: .7em;
            opacity: .6;
        }
    }

    .date{
        .index &{
            font-size: .7em;
            opacity: .6;
            position: absolute;
            bottom: 10px;
            left: 5px;
        }
    }

    .post_content{
        .index &{
            padding-bottom: 50px;
        }
    }

    .play_button {
        text-align: center;
        font-weight: bold;
        border: 1px solid $darkgray;
        width: 50%;
        margin: 20px 25%;
        padding: 10px;

        a {
            border-bottom: $noborder;
        }
    }

    ul,
    ol{
        list-style: circle;
        padding: 0 35px;

        li{
            padding-left: 0px;
        }
    }

    ol{
        list-style: decimal;
    }

    td{
        padding: 5px;
        border: 1px solid lightgray;
    }

    table {
        margin: 20px 0;
    }

    p {
        margin: 10px 0;
    }
}

.wrapper{
    width: 100%;
    border: $box_line;
    height: auto;
    box-sizing: border-box;
    background: $box_bg;
}

.short{
    width: 100%;
    border-bottom: $box_line;

    &:hover{
       background: darken($box_bg, 3%);
    }

    a{
        display: block;
        width: 100%;
        padding: 10px;

        .shortdate{
            font-size: .8em;
            opacity: .8;
            padding-right: 10px;
            margin-right: 10px;
            border-right: $line;
        }
    }
}
